:root {
    --primary-color: #f28123;
    --white-color: #FFF;
    --secondary-color: #f1a86b;
    --cancel-color: rgb(255, 77, 77);
    --info-color: #3A87AD;

    --gray-dark-color: #888888;
    --gray-ligth-one-color: #AFAFAF;
    --gray-ligth-two-color: #BABABA;
    --gray-ligth-three-color: #CCCCCC;
    --gray-ligth-four-color: #D9D9D9;
    --gray-ligth-five-color: #F2F2F2;

    --bg-inputs: #f8f9fa;
}

/* ---------------- Styles for inputs ---------------- */
.form-control-sm {
    border-radius: 8px !important;
    padding: 3px 10px !important;
    font-size: 10px !important;
    background-color: var(--bg-inputs) !important;
}


.btn-primary {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
    border-color: var(--primary-color) !important;
    padding: 5px 20px !important;
    border-radius: 10px !important;
    cursor: pointer !important;
    font-size: 13px !important;
    text-transform: uppercase !important;
    font-weight: bolder !important;
}

.btn-back {
    background-color: var(--gray-ligth-one-color) !important;
    color: var(--white-color) !important;
    border-color: var(--gray-ligth-one-color) !important;
    padding: 5px 15px !important;
    border-radius: 10px !important;
    cursor: pointer !important;
    font-size: 13px !important;
    text-transform: uppercase !important;
    font-weight: bolder !important;
}


.btn-back:hover {
    background-color: var(--gray-dark-color) !important;
    border-color: var(--gray-dark-color) !important;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
