<body>
    <div class="row">
        <!--Lado izquierdo con el el carousel de imágenes-->
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center align-items-center side-left"
            style="background-color: #f28123;">
            <div class="container-carousel">
                <nz-carousel nzAutoPlay>
                    @for (index of arrayImages; track index) {
                    <div nz-carousel-content class="container-img d-flex justify-content-center align-items-center">
                        <img [src]="index" alt="imagen" />
                    </div>
                    }
                </nz-carousel>
            </div>
        </div>

        <!--Lado derecho con el formulario de Login-->
        <div
            class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center align-items-center side-right">
            <div class="col-11 col-sm-11 col-md-10 col-lg-10 col-xl-8 container-form">
                <h4 class="text-center mb-5"><b>Regístrate en condigi</b></h4>

                <mat-stepper (linear)="true" #stepper>
                    <!--Paso 1 (Información básica)-->
                    <mat-step [stepControl]="basicInfoForm">
                        <form [formGroup]="basicInfoForm" class="mt-3">
                            <ng-template matStepLabel>Info. básica</ng-template>

                            <!--Nombres-->
                            <div class="mb-3">
                                <label class="mb-1"><b>Nombres</b></label>
                                <input type="text" class="form-control form-control-sm bg-light fs-6"
                                    formControlName="firstName" placeholder="Nombres*" [maxlength]="50" [ngClass]="{
                                        'is-invalid': basicInfoForm.get('firstName')?.hasError('required') && basicInfoForm.get('firstName')?.touched || basicInfoForm.get('firstName')?.hasError('pattern')==true,
                                        'is-valid': basicInfoForm.get('firstName')?.hasError('required')==false && basicInfoForm.get('firstName')?.hasError('pattern') == false && basicInfoForm.get('firstName')?.value?.length >= 4
                                        }">
                                @if (basicInfoForm.get('firstName')?.hasError('required') && basicInfoForm.get('firstName')?.touched) {
                                    <div class="validators">
                                        <small>¡Este campo es requerido!</small>
                                    </div>
                                }
                                @if (basicInfoForm.get('firstName')?.hasError('pattern')) {
                                    <div class="validators">
                                        <small>¡Solo se permiten letras!</small>
                                    </div>
                                }
                            </div>

                            <!--Apellidos-->
                            <div class="mb-3">
                                <label class="mb-1"><b>Apellidos</b></label>
                                <input type="text" class="form-control form-control-sm bg-light fs-6"
                                    formControlName="lastName" placeholder="Apellidos*" [maxlength]="50" [ngClass]="{
                                        'is-invalid': basicInfoForm.get('lastName')?.hasError('required') && basicInfoForm.get('lastName')?.touched || basicInfoForm.get('lastName')?.hasError('pattern')==true,
                                        'is-valid': basicInfoForm.get('lastName')?.hasError('required')==false && basicInfoForm.get('lastName')?.hasError('pattern') == false && basicInfoForm.get('lastName')?.value?.length >= 4
                                        }">
                                @if (basicInfoForm.get('lastName')?.hasError('required') && basicInfoForm.get('lastName')?.touched) {
                                    <div class="validators">
                                        <small>¡Este campo es requerido!</small>
                                    </div>
                                }
                                @if (basicInfoForm.get('lastName')?.hasError('pattern')) {
                                    <div class="validators">
                                        <small>¡Solo se permiten letras!</small>
                                    </div>
                                }
                            </div>

                            <!--Cédula-->
                            <div class="mb-3">
                                <label class="mb-1"><b>Cédula</b></label>
                                <input type="text" class="form-control form-control-sm bg-light fs-6"
                                    formControlName="identification" placeholder="1234567890" [maxlength]="10" [ngClass]="{
                                        'is-invalid': basicInfoForm.get('identification')?.hasError('required') && basicInfoForm.get('identification')?.touched || basicInfoForm.get('identification')?.hasError('pattern')==true,
                                        'is-valid': basicInfoForm.get('identification')?.hasError('required')==false && basicInfoForm.get('identification')?.hasError('pattern') == false && basicInfoForm.get('identification')?.value?.length >= 4
                                        }">
                                @if (basicInfoForm.get('identification')?.hasError('required') && basicInfoForm.get('identification')?.touched) {
                                    <div class="validators">
                                        <small>¡Este campo es requerido!</small>
                                    </div>
                                }
                                @if (basicInfoForm.get('identification')?.hasError('pattern')) {
                                    <div class="validators">
                                        <small>¡Solo se permiten letras!</small>
                                    </div>
                                }
                            </div>

                            <!--Teléfono-->
                            <div class="mb-4">
                                <label class="mb-1"><b>Teléfono</b></label>
                                <input type="text" class="form-control form-control-sm bg-light fs-6"
                                    formControlName="phone" placeholder="0999999999*" [maxlength]="10" [ngClass]="{
                                        'is-invalid': basicInfoForm.get('phone')?.hasError('required') && basicInfoForm.get('phone')?.touched || basicInfoForm.get('phone')?.hasError('pattern')==true,
                                        'is-valid': basicInfoForm.get('phone')?.hasError('required')==false && basicInfoForm.get('phone')?.hasError('pattern') == false && basicInfoForm.get('phone')?.value?.length >= 4
                                        }">
                                @if (basicInfoForm.get('phone')?.hasError('required') && basicInfoForm.get('phone')?.touched) {
                                    <div class="validators">
                                        <small>¡Este campo es requerido!</small>
                                    </div>
                                }
                                @if (basicInfoForm.get('phone')?.hasError('pattern')) {
                                    <div class="validators">
                                        <small>¡Solo se permiten letras!</small>
                                    </div>
                                }
                            </div>

                            <!--Botones-->
                            <div class="row action-buttons mt-4 mb-3">
                                <div class="col-5">
                                    <button type="button" class="btn btn-back btn-sm w-100" (click)="goToLogin()">
                                        <fa-icon [icon]="iconBack"></fa-icon> Login</button>
                                </div>
                                <div class="col-5">
                                    <button type="button" class="btn btn-primary btn-sm w-100" (click)="nextStep()"
                                        [disabled]="!basicInfoForm.valid">Siguiente <fa-icon [icon]="iconNext"></fa-icon></button>
                                </div>
                            </div>
                        </form>
                    </mat-step>

                    <!--Paso 2 (Direcciones y Contacto)-->
                    <mat-step [stepControl]="contactForm" label="Contacto">
                        <form [formGroup]="contactForm" class="mt-3">
                            <!--Province-->
                            <div class="mb-3">
                                <label class="mb-1"><b>Provincia</b></label>
                                <select class="form-select form-select-sm fs-6" [(ngModel)]="optionProvinceSelected"
                                    formControlName="province" [ngClass]="{
                                                'is-invalid': credentialsForm.get('province')?.hasError('required') && credentialsForm.get('province')?.touched,
                                                'is-valid': optionProvinceSelected!= ''
                                                }">
                                    <option value="" selected disabled>Seleccione una opción</option>
                                    <option value="teacher">Profesor(a)</option>
                                    <option value="student">Estudiante</option>
                                </select>
                                @if (credentialsForm.get('province')?.hasError('required') && credentialsForm.get('province')?.touched) {
                                    <div class="validators">
                                        <small>¡Este campo es requerido!</small>
                                    </div>
                                }
                            </div>

                             <!--Cantón-->
                             <div class="mb-3">
                                <label class="mb-1"><b>Cantón</b></label>
                                <select class="form-select form-select-sm fs-6 selectpicker" [(ngModel)]="optionCantonSelected"
                                    formControlName="cantont" [ngClass]="{
                                                'is-invalid': credentialsForm.get('cantont')?.hasError('required') && credentialsForm.get('cantont')?.touched,
                                                'is-valid': optionCantonSelected!= ''
                                                }">
                                    <option value="" selected disabled>Seleccione una opción</option>
                                    <option value="teacher">Profesor(a)</option>
                                    <option value="student">Estudiante</option>
                                </select>
                                @if (credentialsForm.get('cantont')?.hasError('required') && credentialsForm.get('cantont')?.touched) {
                                    <div class="validators">
                                        <small>¡Este campo es requerido!</small>
                                    </div>
                                }
                            </div>

                             <!--Parroquia-->
                             <div class="mb-3">
                                <label class="mb-1"><b>Parroquia</b></label>
                                <select class="form-select form-select-sm fs-6 selectpicker" [(ngModel)]="optionParishSelected"
                                    formControlName="parish" [ngClass]="{
                                                'is-invalid': credentialsForm.get('parish')?.hasError('required') && credentialsForm.get('parish')?.touched,
                                                'is-valid': optionParishSelected!= ''
                                                }">
                                    <option value="" selected disabled>Seleccione una opción</option>
                                    <option value="teacher">Profesor(a)</option>
                                    <option value="student">Estudiante</option>
                                </select>
                                @if (credentialsForm.get('parish')?.hasError('required') && credentialsForm.get('parish')?.touched) {
                                    <div class="validators">
                                        <small>¡Este campo es requerido!</small>
                                    </div>
                                }
                            </div>

                            <!--Dirección-->
                            <div class="mb-4">
                                <label class="mb-1"><b>Dirección</b></label>
                                <input type="text" class="form-control form-control-sm bg-light fs-6"
                                    formControlName="address" placeholder="Dirección*" [maxlength]="50" [ngClass]="{
                                        'is-invalid': basicInfoForm.get('address')?.hasError('required') && basicInfoForm.get('address')?.touched || basicInfoForm.get('address')?.hasError('pattern')==true,
                                        'is-valid': basicInfoForm.get('address')?.hasError('required')==false && basicInfoForm.get('address')?.hasError('pattern') == false && basicInfoForm.get('address')?.value?.length >= 4
                                        }">
                                @if (basicInfoForm.get('address')?.hasError('required') && basicInfoForm.get('address')?.touched) {
                                    <div class="validators">
                                        <small>¡Este campo es requerido!</small>
                                    </div>
                                }
                                @if (basicInfoForm.get('address')?.hasError('pattern')) {
                                    <div class="validators">
                                        <small>¡Solo se permiten letras!</small>
                                    </div>
                                }
                            </div>

                            <!--Botones-->
                            <div class="row action-buttons mt-4 mb-3">
                                <div class="col-5">
                                    <button type="button" class="btn btn-back btn-sm w-100" matStepperPrevious>
                                        <fa-icon [icon]="iconBack"></fa-icon> Atrás</button>
                                </div>
                                <div class="col-5">
                                    <button type="button" class="btn btn-primary btn-sm w-100" (click)="nextStep()"
                                        [disabled]="!basicInfoForm.valid">Siguiente <fa-icon [icon]="iconNext"></fa-icon></button>
                                </div>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Credenciales</ng-template>

                    </mat-step>
                </mat-stepper>
            </div>
        </div>
    </div>
</body>